# python == 3.8
# aitextgen==0.5.2
# NOTE: aitextgen must be cloned from git repo. pip installed versions appear broken.

pytorch-lightning==1.8.0



#transformers==4.31.0
#fire==0.4.0
#gpt-2-simple==0.7.2
#numpy==1.20.3
#tqdm==4.60.0

# torchmetrics == 0.11.4
